@import '@scss/global/config';
@import '@scss/global/breakpoints';

// TODO: Create helper or layout wrapper for this page
.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gap-primary);
}

.contentLeft {
  grid-column: 1 / 4;
  @include break-max-width(xl) {
    grid-column: 1 / 5;
  }

  @include break-max-width(lg) {
    grid-column: 1 / 6;
  }
}

.contentLeftWrapper {
  position: sticky;
  top: var(--nav-height);
}

.contentRight {
  grid-column: 6 / -1;
  // display: grid;
  // grid-template-columns: repeat(7, 1fr);
  // column-gap: var(--gap-primary);

  @include break-max-width(lg) {
    // grid-template-columns: repeat(6, 1fr);
    grid-column: 7 / -1;
  }
}

.contentRightWrapper {
  // grid-column: span 5;

  @include break-max-width(xl) {
    // grid-column: span 6;
  }
}
