@import '@scss/global/config';
@import '@scss/global/breakpoints';

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gap-primary);
  row-gap: 48px;
}

.contentLeft {
  grid-column: 1 / 5;

  @include break-max-width(lg) {
    grid-column: 1 / 6;
  }

  @include break-max-width(md) {
    grid-column: 1 / -1;
  }
}

.contentLeftWrapper {
  position: sticky;
  top: var(--nav-height);

  @include break-max-width(md) {
    position: static;
    top: unset;
  }
}

.contentRight {
  grid-column: 6 / -1;

  @include break-max-width(lg) {
    grid-column: 7 / -1;
  }

  @include break-max-width(md) {
    grid-column: 1 / -1;
  }
}

.contentRightWrapper {
  @include break-max-width(xl) {
  }
}
