.image {
  max-width: 511px;
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(2, 190px);
  gap: var(--gap-primary);
}
.experienceListItem {
  display: inline-grid;
  grid-template-columns: repeat(2, 190px);
  column-gap: var(--gap-primary);
  justify-content: start;
  border-bottom: 1px solid var(--color-grey);

  &:first-of-type {
    border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
  }
}
