// TODO: Create helper or layout wrapper for this page
.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.contentLeft {
  grid-column: 1 / 4;
}

.contentLeftWrapper {
  position: sticky;
  top: var(--nav-height);
}

.contentRight {
  grid-column: 6 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.contentRightWrapper {
  grid-column: span 5;
}

.image {
  height: 670px;
  background-color: var(--color-blue);
}
