@import '@scss/global/config';
@import '@scss/global/breakpoints';

// TODO: Create helper or layout wrapper for this page
.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.contentLeft {
  grid-column: 1 / 4;
  @include break-max-width(xl) {
    grid-column: 1 / 5;
  }
}

.contentLeftWrapper {
  position: sticky;
  top: var(--nav-height);
}

.contentRight {
  grid-column: 6 / -1;
}

.contentRightWrapper {
}

.image {
  height: 670px;
  background-color: var(--color-blue);
}
