// Page transition element
.wipe {
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--color-grey);
  pointer-events: none;
  z-index: 20;
  top: 0;
  left: 0;
}
