@import '@scss/global/config';
@import '@scss/global/breakpoints';
@import '@scss/global/core/_mixins';

.container {
  min-height: calc(100vh - var(--nav-height));
  // min-height: 700px;

  @include break-max-width(md) {
    min-height: calc(100vh - (var(--nav-height) + 48px));
  }
}
.headline {
  font-size: clamp(var(--fz-lg), 7.8vw, var(--fz-super));
  :first-child {
    padding-right: 6.2vw;
  }
}
.intro {
  bottom: 64px;
  left: 0;
  max-width: 297px;
  @include break-max-width(md) {
    font-size: var(--fz-sm);
    position: static;
  }
}

.selectedWorkList {
  list-style: none;
}

.bar {
  @include default-transition;
  width: 2px;
}

.link {
  &:hover {
    .bar {
      background-color: var(--color-white) !important;
    }
  }
}

.listItemText {
  flex: 1;
  font-size: var(--fz-xxl);
}

.hoverImage {
  background-color: red;
  width: 100px;
  height: 100px;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
