@import '@scss/global/config';
@import '@scss/global/breakpoints';
@import '@scss/global/core/_mixins';

.container {
  min-height: calc(100vh - var(--nav-height));

  @include break-max-width(md) {
    min-height: calc(var(--vh) - (var(--nav-height) + 48px));
  }
}
.headlineWrapper {
  @include break-max-width(md) {
    justify-content: flex-start;
  }
}
.headline {
  line-height: 1.2;
  font-size: clamp(var(--fz-lg), 7.8vw, var(--fz-super));
  :first-child {
    padding-right: 6.2vw;
  }
}
.intro {
  bottom: 64px;
  left: 0;
  max-width: 297px;
  @include break-max-width(md) {
    // p {
    //   font-size: var(--fz-sm);
    // }
    position: static;
  }
}
.arrowButton {
  bottom: 64px;
  right: 0;
  @include break-max-width(md) {
    bottom: 24px;
  }
}

.work {
  min-height: 100vh;
}

.workHeadline {
  font-size: clamp(var(--fz-md), 5vw, var(--fz-lg));
}
