@import '@scss/global/config';
@import '@scss/global/breakpoints';

.container {
  min-height: calc(100vh - var(--nav-height));

  @include break-max-width(md) {
    min-height: calc(100vh - (var(--nav-height) + 48px));
  }
}
.headline {
  font-size: clamp(var(--fz-lg), 7.8vw, var(--fz-super));
  :first-child {
    padding-right: 6.2vw;
  }
}
.intro {
  bottom: 64px;
  left: 0;
  max-width: 297px;
  @include break-max-width(md) {
    font-size: var(--fz-sm);
    position: static;
  }
}
