$dim-props: (
  w: width,
  h: height,
);

@each $d-key, $d-val in map-get($app-config, dimensions) {
  @each $p-key, $p-val in $dim-props {
    .#{$p-key}-#{$d-key} {
      #{$p-val}: $d-val;
    }
    .#{$p-key}-min-#{$d-key} {
      min-#{$p-val}: $d-val;
    }
    .#{$p-key}-max-#{$d-key} {
      max-#{$p-val}: $d-val;
    }
  }
}

:root {
  --gap-primary: 24px;
}

// * ELEMENT DIMENSIONS
:root {
  --gutter: 90px;
  --nav-height: 152px;

  @include break-max-width(lg) {
    --gutter: 64px;
  }

  @include break-max-width(md) {
    --gutter: 48px;
    --nav-height: 56px;
  }

  @include break-max-width(sm) {
    --gutter: 24px;
  }
}
