@import '@scss/global/_config';
@import '@scss/global/_breakpoints';

.layoutContainer {
  position: relative;
}
.siteContent {
  &[data-drawer-status='open'] {
    overflow: hidden;
    position: fixed;
    z-index: -1;
  }
}

.bgBlock {
  width: 100%;
  height: var(--nav-height);
  background-color: var(--ui-bg);
  position: absolute;
  top: 0;
  right: 0;

  @include break-max-width(md) {
    height: calc(var(--nav-height, 152px) + 48px);
  }
}
.main {
  padding-top: var(--nav-height, 152px);
  background-color: var(--ui-03);
  display: flex;
  flex-flow: column;
  align-items: center;
  @include break-max-width(md) {
    padding-top: calc(var(--nav-height, 152px) + 48px);
  }
}
.contentWrapper {
  padding: 0 var(--gutter, 90px);
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--ui-bg);
  z-index: 1;
  position: relative;
  transform-origin: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.content {
  max-width: 1440px;
  width: 100%;
}

.footerContainer {
  width: 100%;
  height: var(--footer-height);
}

.footerWrapper {
  height: var(--footer-height);
  width: 100%;
  position: fixed;
  z-index: 0;
  bottom: 0;
}
