.main {
  min-height: 100vh;
  padding-top: var(--nav-height, 152px);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.contentWrapper {
  padding: 0 var(--gutter, 90px);
  margin-bottom: 144px;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  max-width: 1440px;
  width: 100%;
}
