@import '@scss/global/core/_index';
.navContainer {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 0 var(--gutter, 90px);
}
.home {
  @include link-reset;
  width: 24px;
}
.work {
  @include button-reset;
  cursor: pointer;
}

.icon {
  path {
    fill: var(--ui-02);
  }
}
