.main {
  min-height: 100vh;
  padding-top: var(--nav-height, 152px);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.content {
  max-width: 1440px;
  margin: 0 var(--gutter, 90px) 144px var(--gutter, 90px);
}
