html {
  font-family: var(--ff-primary);
  color: var(--color-white);
  font-size: var(--fz-base);
}
.root {
  background-color: var(--ui-bg);
}

// Util for identifying elements in the DOM
.\? {
  outline: 1px solid red;
}
