html {
  font-family: var(--ff-primary);
  background-color: var(--ui-bg);
  color: var(--color-white);
  font-size: var(--fz-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
p {
  font-family: var(--ff-primary);
  color: var(--text-01, #fcfcfc);
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fz-xxl);
  line-height: 1;

  @include break-max-width(lg) {
    font-size: var(--fz-xl);
  }
}

p {
  font-size: var(--fz-sm);
  line-height: 1.5;
  text-align: justify;
}

a {
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
}
