:root {
  --ui-bg: var(--color-black, #222222);
  --ui-01: var(--color-black, #222222);
  --ui-02: var(--color-white, #fcfcfc);
  --text-01: var(--color-white, #fcfcfc);
  --text-02: var(--color-grey, #a0abbb);
}
