@import '@scss/global/config';
@import '@scss/global/breakpoints';

.footer {
  background-color: var(--color-grey);
  padding: 0 var(--gutter, 90px);

  :not(template) {
    color: var(--color-black);
    line-height: 1.33;
  }

  p {
    text-align: left;
  }
}

.content {
  max-width: 1440px;
  width: 100%;
  display: flex;

  @media screen and (max-width: 800px) {
    flex-flow: column;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .locationDetails {
    justify-content: space-between;
    margin: 0 0 8px 0;
  }
  .copyright {
    align-self: center;
    margin-bottom: 24px;
  }
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 800px) {
    justify-content: space-between;
    margin: 0;
  }
  a {
    color: var(--color-black);
    &::after {
      background-color: var(--color-black);
    }
  }
}
