@import '@scss/global/core/_mixins';

.list {
  list-style: none;
}

.bar {
  @include default-transition;
  width: 2px;
}

.link {
  &:hover {
    .bar {
      background-color: var(--color-white) !important;
    }
  }
}

.listItem {
  z-index: 2;
  position: relative;
}

.listItemText {
  flex: 1;
  font-size: clamp(var(--fz-md), 5.5vw, var(--fz-xxl));
  line-height: 1.2;
}
