.container {
  background-color: var(--color-grey);
  width: 350px;
  height: 280px;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  z-index: 1;
}
