.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--ui-02);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressBarOuter {
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  background-color: var(--ui-02);
  overflow: hidden;
}
.progressBarInner {
  height: 100%;
  width: 100%;
  background-color: var(--ui-bg);
}
