@import '@scss/global/core/_mixins';

.container {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  height: 56px;
  display: flex;
  align-items: center;
}
.icon {
  @include button-reset;
  width: 48px;
  height: 56px;
  margin-right: 24px;
}
