@import '@scss/global/core/_mixins';

.container {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: var(--ui-bg);
  width: 100%;
  justify-content: space-between;
  padding: 0 var(--gutter);
}

.menu {
  @include button-reset;
  width: 48px;
  height: 100%;
}

.home {
  @include link-reset;
  width: 24px;
}

.icon {
  path {
    fill: var(--ui-02);
  }
}
